body {
  background-color: #ECFDF1;
  font-family: Gill Sans, sans-serif;
}

.App {
  text-align: center;
}

.page-title {
  font-size: 3rem;
  color: #3F50B5;
}

.add-city {
  display: flex;
  flex-direction: row;
  padding: 0 3%;
}

.add-button {
  min-width: 12rem;
}

.add-button button {
  height: 3rem;
}

.city-input {
  font-size: 1.6rem;
  height: 2.7rem;
  width: 60rem;
  margin-right: 0.5rem;
}

.city-display {
  padding: 0 3%;
}

.city-display ul {
  padding: 0;
}

.city-weather {
  list-style: none;
  background-color: #FFD392;
  padding: 0 0.4rem 0.4rem 0.4rem;
  border-radius: 0.4rem;
}

.city-name {
  padding-top: 1rem;
  color: #4A4A4A;
  flex-grow: 1;
}

.city-header {
  display: flex;
  justify-content: space-between;
}

.weather-info-tile {
  border: 0.2rem solid #EAEFF2;
  border-radius: 0.4rem;
  background-color: #EAEFF2;
  padding: 0.4rem;
  color: #4A4A4A;
}

.weather-info-tile h3 {
  margin: 1rem 0;
}

.weather-info-tile h2 {
  margin: 1rem 0;
}

.weather-icon {
  margin: auto;
}

.weather-card {
  border-radius: 1rem;
}

.day-bg {
  background-color: #BCECE0;
  border: 0.5rem solid #BCECE0;
}

.night-bg {
  background-color: #4C5270;
  border: 0.5rem solid #4C5270;
  color: white;
}
