.App {
  font-family: sans-serif;
  text-align: center;
  margin: 6rem ;
}

.add-city {
  display: flex;
  flex-direction: row;
}

.add-button {
  height: 3rem;
}

.city-input {
  font-size: 1.6rem;
  height: 2.7rem;
  width: 50rem;
  margin-right: 0.5rem;
}

.display-city {
  list-style: none;
}
